<h1>スレッド一覧</h1>

<%= form_for @newTopic, :url => {:action => 'create'} do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "新規作成" %>
<% end %>
<ul>
  <% @topics.each do |topic| %>
    <li>
    <h3>
      <%= link_to topic.title, topics_show_path(topic.id) %>
      <%= link_to '[削除]', topic_delete_path(topic.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
    </h3>
    <h5>
      <%= form_tag("/topics/update/#{topic.id}") do %>
      <form>
        <label>編集 :</label>
        <input type="text" name="title">
        <!--form-group-->
        <button type="submit">実行</button>
      <% end %>
    </h5>
    </li>
  <% end %>
</ul>